/* 공통 CSS */
body {
    background: #EDF3F7;
    margin: 0 0 0 0;
    --mdc-theme-primary: cadetblue;
    --mdc-theme-secondary: cornflowerblue;
    --mdc-ripple-focus-opacity: 0.00;
    --mdc-typography-font-family: 'SUIT Variable', 'Noto Sans CJK KR Light', sans-serif;
}

.svelte-main {
    background: white;
    margin: 1rem;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .svelte-main {
        margin: 0.5rem;
    }
}

.dark {
    .svelte-main {
        background: #333333;
        box-shadow: none;
    }

    #oss {
        mwc-list {
            --mdc-theme-text-primary-on-background: #F0F0F0;
            --mdc-theme-text-secondary-on-background: #D6D6D6;
        }
    }

    background: #404040;
    --mdc-tab-text-label-color-default: #F0F0F0;
}

a {
    font-family: 'SUIT Variable', 'Noto Sans CJK KR Light', sans-serif;
    color: cornflowerblue;
}

h1 {
    font-family: 'SUIT Variable', 'Noto Sans CJK KR Light', sans-serif;
    font-weight: 200;
    color: cadetblue;
    font-size: 1.8rem;
}

p {
    font-family: 'SUIT Variable', 'Noto Sans CJK KR Light', sans-serif;
    font-weight: normal;
    color: cadetblue;
    font-size: 1.0rem;
}