/* 공통 CSS */
body {
    font-family: 'SUIT Variable', 'Noto Sans CJK KR Light', sans-serif;
    --md-ref-typeface-plain: 'SUIT Variable', 'Noto Sans CJK KR Light', sans-serif;
    background: #EDF3F7;
    margin: 0 0 0 0;

    /* Material Color Sets */
    --md-sys-color-primary: #00696c;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-secondary: #235cb1;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #d7e2ff;
    --md-sys-color-on-secondary-container: #001a40;
    --md-sys-color-background: #fafdfc;
    --md-sys-color-on-background: #191c1c;
    --md-sys-color-surface: #fafdfc;
    --md-sys-color-surface-variant: #dae4e4;
    --md-sys-color-on-surface: #191c1c;
    --md-sys-color-on-surface-variant: #3f4949;
    --mdc-ripple-focus-opacity: 0.00;
    --mdc-typography-font-family: 'SUIT Variable', 'Noto Sans CJK KR Light', sans-serif;
    --md-sys-color-background: #EDF3F7;

    /* Custom Component Color Sets */
    --mfp-card-type-color: #406CC5;
    --mfp-primary-text-color: #29828C;
    --mfp-static-header-text-color: #333333;
}

.svelte-main {
    background: #ffffff;
    margin: 1rem;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .svelte-main {
        margin: 0.5rem;
    }
}

.dark {
    .svelte-main {
        background: #333333;
        box-shadow: none;
    }

    background: #404040;
    
    /* Material Color Sets */
    --md-sys-color-primary: #6FA3A8;
    --md-sys-color-primary-container: #004f51;
    --md-sys-color-on-primary: #003738;
    --md-sys-color-on-primary-container: #6FA3A8;
    --md-sys-color-secondary: #acc7ff;
    --md-sys-color-secondary-container: #004492;
    --md-sys-color-on-secondary: #002f67;
    --md-sys-color-on-secondary-container: #d7e2ff;
    --md-sys-color-background: #191c1c;
    --md-sys-color-on-background: #e0e3e2;
    --md-sys-color-surface: #191c1c;
    --md-sys-color-surface-variant: #3f4949;
    --md-sys-color-on-surface: #e0e3e2;
    --md-sys-color-on-surface-variant: #bec8c8;

    /* Custom Component Color Sets */
    --mfp-card-type-color: #559BFC;
    --mfp-primary-text-color: #6FA3A8;
    --mfp-static-header-text-color: #e0e3e2;
}

a {
    color: #4072D1;
    word-break: keep-all;
}

.dark a {
    color: #559BFC;
}

h1 {
    font-weight: 200;
    color: var(--mfp-primary-text-color);
    font-size: 1.8rem;
}

h2 {
    font-weight: 200;
    color: var(--mfp-primary-text-color);
    font-size: 1.6rem;
}

h3 {
    font-weight: 300;
    color: var(--mfp-primary-text-color);
    font-size: 1.4rem;
}

p {
    font-weight: 300;
    color: var(--mfp-primary-text-color);
    font-size: 1.0rem;
}